html,
body,
:root {
    font-family: "Sofia Sans", sans-serif;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
}

@keyframes marquee {
    0% { transform: translateX(0); }
    50% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}

.animate-marquee {
    animation: marquee 30s linear infinite;
    min-width: 100%;
}

.animate-marquee:hover {
    animation-play-state: paused;
}