.markdown {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 200;
}

.markdown strong {
    font-weight: bold;
}

.markdown h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.markdown h2 {
    font-size: 2rem;
    font-weight: bold;
}

.markdown h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

.markdown ul {
    list-style: disc;
    margin-left: 2rem;
}