@import "tailwindcss";

@theme {
    --color-bg-primary: #181818;
    --color-bg-secondary: #1f1e1e;

    --color-text-primary: #ffffff;
    --color-text-secondary: #b2b2b2;

    --color-primary: #d2401e;
    --color-secondary: #b7903b;
};

.gradient {
    @apply absolute top-0 left-0 w-full h-full bg-linear-to-b from-bg-primary/70 via-bg-primary/40 to-bg-primary;
}

.title {
    @apply text-4xl md:text-6xl font-black scale-y-125 uppercase text-center drop-shadow-lg;
}

.subtitle {
    @apply text-text-secondary font-bold text-lg md:text-xl max-w-2xl drop-shadow-md;
}

.section-header {
    @apply text-center relative z-20 flex flex-col items-center gap-4;
}

.section-title {
    @apply text-4xl font-bold mt-2 relative;
}

.section-title::after {
    @apply content-[''] block w-24 h-1 bg-primary mx-auto my-8;
}

.section-subtitle {
    @apply text-primary uppercase text-sm font-bold;
}

.btn {
    @apply px-8 py-4 flex items-center justify-center text-center gap-2 font-bold uppercase hover:bg-white transition-all duration-300;
}

.btn-fill {
    @apply bg-primary text-black rounded hover:bg-white;
}

.btn-fill-alt {
    @apply bg-black text-white hover:bg-white hover:text-black;
}

.btn-outline {
    @apply border border-white text-white rounded hover:bg-white hover:text-black transition-all duration-300 backdrop-blur-sm;
}

.btn-outline-alt {
    @apply bg-transparent border-2 border-black text-black font-bold rounded hover:bg-white hover:text-black hover:border-white;
}

.form-label {
    @apply text-xs text-primary font-bold uppercase tracking-wider;
}

.form-input {
    @apply bg-bg-primary border border-white/10 rounded p-4 text-white focus:outline-none focus:border-primary transition-colors;
}