---
import Layout from "../layouts/Layout.astro";

const services = [
  {
    title: "Внос по поръчка",
    desc: "Ние намираме, проверяваме и доставяме желания от Вас автомобил директно от Германия.",
    icon: "ph-airplane-tilt"
  },
  {
    title: "Премиум Лизинг",
    desc: "Гъвкави условия и индивидуални погасителни планове с водещите лизингови компании.",
    icon: "ph-bank"
  },
  {
    title: "Buy-Back & Бартер",
    desc: "Справедлива пазарна оценка на стария Ви автомобил и замяна за по-нов модел.",
    icon: "ph-arrows-left-right"
  },
  {
    title: "Регистрация и Сервиз",
    desc: "Пълно съдействие в КАТ и осигурен специализиран сервиз за поддръжка.",
    icon: "ph-wrench"
  }
];
---

<Layout>
<h1>TODO :)</h1>
</Layout>