<header class="bg-bg-primary">
    <nav class="flex flex-col lg:flex-row justify-between gap-2 items-center w-full px-8 py-4 md:py-4">
        <a href="/" class="flex items-center">
            <img src="/logo.svg" alt="Autolux Logo" class="w-18 md:w-24">
            <p class="text-white font-bold text-2xl"><span class="text-primary">Auto</span>lux.bg</p>
        </a>
        
        <ul class="grid grid-cols-3 lg:flex justify-end gap-8 uppercase">
            <li><a href="/">Начало</a></li>
            <li><a href="/services">Услуги</a></li>
            <li><a href="/collection/1">Колекция</a></li>
            <li><a href="/news/1">Новини</a></li>
            <li><a href="/3d" class="flex items-center gap-1"><i class="ph ph-cube"></i>3D</a></li>
            <li><a href="/contacts">Контакти</a></li>
        </ul>
    </nav>
</header>